on:
  release:
    types:
      - published

name: release

permissions:
  # Used for trusted publishing.
  # Used to sign the release's artifacts with sigstore-python.
  id-token: write

  # Used to attach signing artifacts to the published release.
  contents: write

jobs:
  pypi:
    name: upload release to PyPI
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-python@v5
      with:
        python-version-file: pyproject.toml

    - name: deps
      run: python -m pip install -U build

    - name: build
      run: python -m build

    - name: publish
      uses: pypa/gh-action-pypi-publish@v1.12.2
